// Colours
$highlight:#66ad83;
$background:#efe7d2;
$white:#efefef;
$black:#000000;
$light:#aea07d;
$dark:lighten(#432e11,5%);


// Utilities
*{box-sizing:border-box;}
// Background
html{height:100%;}
body{
  height:100%;
  padding-top:6em;
  background:radial-gradient($background 50%, $highlight 90%);
}

// The Bear
.bearWrapper{
  width:16em;
  height:30em;
  margin:0 auto;
  position:relative;
}
.face{
  width:100%;
  height:100%;
  background:$dark;
  padding-top:5em;
  border-radius:8em;
  border-top-left-radius:10em 8em;
  border-top-right-radius:10em 8em;
  position:relative;
  z-index:10;
  box-shadow:inset darken($dark,5%) 0 -3em 0 0;
  &:after,&:before{
    content:"";
    width:4em;
    height:11em;
    background:$dark;
    position:absolute;
    bottom:6em;
    box-shadow:inset darken($dark,5%) 0 -1em 0 0;
  }
  &:after{
    left:-3em;
    border-top-left-radius:100%;
    border-bottom-left-radius:4em;
  }
  &:before{
    right:-3em;
    border-top-right-radius:100%;
    border-bottom-right-radius:4em;
  }
}

.jowls{
  position:absolute;
  top:7em;
  width:1em;
  height:6em;
  background:$dark;
  &.right{
    right:-.5em;
    border-top-right-radius:1em 4em;
    border-bottom-right-radius:1em 2em;
  }
  &.left{
    left:-.5em;
    border-top-left-radius:1em 4em;
    border-bottom-left-radius:1em 2em;
  }
}
.ear{
  height:6em;
  width:4em;
  background:$dark;
  position:absolute;
  top:0;
  border-radius:2em 2em 0em 0em;
  z-index:0;
  &.right{
    right:0;
    transform:rotate(35deg);
  }
  &.left{
    left:0;
    transform:rotate(-35deg);
  }
  &:after{
    content:'';
    width:2em;
    height:4em;
    background:$light;
    position:absolute;
    top:1em;
    left:50%;
    margin-left:-1em;
    border-radius:1.5em 1.5em 0em 0em;
    box-shadow:inset darken($light,10%) -.5em .2em 0 0;
  }
}

.eye{
  width:.8em;
  height:.8em;
  background:$black;
  box-shadow:
    inset 0 0 0 .1em $white,
    inset 0 0 0 .3em $highlight,
    0 -.3em 0 0 darken($dark,5%);
  position:absolute;
  border-radius:50%;
  top:5em;
  animation:blink 5s infinite;
  &.right{right:4em;}
  &.left{left:4em;}
}

.cheeks{
  width:6em;
  height:7em;
  margin:0 auto;
  background:$light;
  border-radius:2em;
  border-top-left-radius:4em 3em;
  border-top-right-radius:4em 3em;
  padding-top:1em;
  box-shadow:
    inset darken($light,10%) 0 -.5em 0 0,
    darken($dark,5%) -.5em .5em 0 0;
  .nose{
    width:3em;
    height:.5em;
    margin:0 auto;
    background:$black;
    border-top-left-radius:1.5em 1em;
    border-top-right-radius:1.5em 1em;
    position:relative;
    &:after{
      position:absolute;
      content:'';
      top:100%;
      border-top:1em solid $black;
      border-right:1.5em solid transparent;
      border-left:1.5em solid transparent;
      z-index:200;
    }
  }
  .mouth{
    height:3em;
    width:.2em;
    background:$dark;
    margin:0 auto;
    position:relative;
    &:before{
      content:'';
      //width:3em;
      position:absolute;
      bottom:-1em;
      left:-1.2em;
      //height:.2em;
      //background:$dark;
      border-bottom:.8em solid $light;
      border-right:1.3em solid transparent;
      border-left:1.3em solid transparent;
      z-index:100;
    }
    &:after{
      content:'';
      //width:3em;
      position:absolute;
      bottom:-.9em;
      left:-1.4em;
      //height:.2em;
      //background:$dark;
      border-bottom:1em solid $dark;
      border-right:1.55em solid transparent;
      border-left:1.55em solid transparent;
      z-index:90;
    }
  }
}
.belly{
  width:8em;
  height:8em;
  background:$light;
  margin:6em auto 0;
  border-radius:50%;
  border-top-left-radius:4em 3em;
  border-top-right-radius:4em 3em;
}
.foot{
  position:absolute;
  bottom:-1em;
  width:6em;
  height:7em;
  border-radius:3em;
  border-top-left-radius:6em 4em;
  border-top-right-radius:6em 4em;
  background:$dark;
  box-shadow:
    inset 0 .5em 0 0 lighten($dark,5%),
    inset 0 -1em 0 0 darken($dark,5%);
  z-index:200;
  &.right{
    right:-1em;
    transform:rotate(10deg);
  }
  &.left{
    left:-1em;
    transform:rotate(-10deg);
  }
  .pads{
    width:3em;
    height:2em;
    background:$light;
    margin:3em auto 0;
    border-radius:1em;
  }
}

// Animation
@keyframes blink{
  0%{
    height:.8em;
    top:5em;
  }
  05%{
    height:0em;
    top:5.4em;
  }
  10%{
    height:.8em;
    top:5em;
  }
  15%{
    height:0em;
    top:5.4em;
  }
  20%{
    height:.8em;
    top:5em;
  }
  100%{
    height:0.8em;
    top:5em;
  }
}
body {
  background: #333;
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
  font-size: 3em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 50px;
  animation: pulse 1s ease infinite, 
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
